
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
public/pb
!public/pb/.gitkeep
src/Controller/.gitignore
templates/base.html.twig
composer.phar